<!doctype html>
<head>
  <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Borða mat</title>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <h1>Borða mat</h1>
        {% if not session.logged_in %}
          <a href="{{ url_for('login') }}">log in</a>
        {% else %}
          <a href="{{ url_for('logout') }}">log out</a>
        {% endif %}

        {% for message in get_flashed_messages() %}
          <div>{{ message }}</div>
        {% endfor %}

        {% block body %}{% endblock %}
      </div>
    </div>
  </div>

  <script src="../static/js/jquery-1.11.0.js"></script>
  <script src="../static/js/bootstrap.js"></script>
</body>