<!doctype html>
<head>
  <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="../static/css/site.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Borða mat</title>
</head>

<body>
  <div class="jumbotron">
    <div class="container">
      <h1>Borða mat</h1>
      <p class="lead">{{ [
      "Ég er þorstinn í hið óþekkta.",
      "Ég er dádýr á vordegi.",
      "Ég er næmur á nýjar stefnur.",
      "Ég er maður margra andlita.",
      "Ég er skáldsaga sem tekur óvænta stefnu.",
      "Ég heyri. Ég sé. Ég finn.",
      "Ég er heima. Ég er að heiman."]|random }}</p>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <img src="/static/img/agust.jpg" class="img-circle">
        <h3>Ágúst Stefánsson</h3>
        <p>Matgæðingur</p>
        <img src="/static/img/oddur.jpg" class="img-circle">
        <h3>Oddur Aðalgeirsson</h3>
        <p>Lífskúnstner</p>
      </div>
      <div class="col-md-6 col-md-offset-1">
        {% if not session.logged_in %}
          <p><a href="{{ url_for('login') }}">Innskráning</a></p>
        {% else %}
          <p><a href="{{ url_for('logout') }}">Útskráning</a></p>
        {% endif %}

        {% block body %}{% endblock %}
      </div>
    </div>
  </div>

  <script src="../static/js/jquery-1.11.0.js"></script>
  <script src="../static/js/bootstrap.js"></script>
</body>